@charset 'utf-8';

kbd {
    background-color: #fafbfc;
    border-radius: 3px;
    color: #444d56;
    display: inline-block;
    font: .9em SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    box-shadow: inset 0 -1px 0 #959da5;
    vertical-align: middle;
}

details.bracketdown summary {
    cursor: pointer;
    outline: none;
    font-size: 1em;
    padding: .2em 0;
	font-weight: bold
}
details.bracketdown .bracketdown-details-content {
	margin-left: .95em
}

.bracketdown-block {
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: .8em;
	background-color: rgba(0,0,0,.02)
}

.bracketdown-underline {
	text-decoration: underline
}

[data-github] {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 1em auto;
    border: 1px solid #ccc;
    padding: 1em;
    max-width: 75%;
    width: fit-content;
    font-size: 1em
    
}

[data-github] .github-card-title {
    margin: 0;
    font-size: 1.1em
}
[data-github] .github-card-title small {
    font-size: .9em;
    color: #aaa;
    display: block;
}

[data-github] ul.github-card-meta {
    margin: 0;
    padding: 0!important;
    flex: 1
}

[data-github] .github-card-meta li {
    margin: 0;
    color: #ccc;
    list-style-type: none;
    display: inline-block;
    
}
[data-github] .github-card-meta li:not(:last-child)::after {
    content: '|';
    margin: 0 .5em;
    
}

[data-github] a.github-card-action {
    display: inline-block;
    border: none;
    color: #000;
    margin-left: 1em
}

[data-github] .github-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

[data-github] .github-card-content {
    flex: 1
}

[data-github] .github-card-avatar {
    margin-right: 1em
}
[data-github] .github-card-avatar img {
    border-radius: 100%;
    height: 10em;
    width: 10em;
    flex: 1
}

iframe.bilibili-video-player {
    width: 100%;
    height: 550px;
    display: block
}
@media (max-width: 1200px) {
    iframe.bilibili-video-player {
        height: 360px
    }
}

.bracketdown-post {
    display: block;
    margin: 1em auto;
    padding: .5em 1.5em;
    border: 1px solid #ccc;
    max-width: 75%;
    width: fit-content;
}

.bracketdown-post-title {
    margin: .5em 0;
    font-size: 1.2em;
}

.bracketdown-post-title a {
    color: #222;
    border: none;
    text-decoration: none
}

.bracketdown-post-excerpt {
    color: #666;
    font-size: .9em
}

.bracketdown-post-meta {
    display: flex;
    justify-content: space-between
}

.bracketdown-post-meta span {
    flex:1;
    color: #aaa
}

.bracketdown-post-meta a {
    border: none;
    text-decoration: none;
    color: #222;
    display: inline-block;
    font-size: .9em;
    border: 1px solid #222;
    padding: 0 .5em;
    transition-property: border, background, color;
    transition-duration: .3s
}

.bracketdown-post-meta a:hover {
    border-color: #222;
    background: #222;
    color: #fff
}

a.bracketdown-button {
    display: inline-block;
    padding: .2em .5em;
    line-height: 1.5;
    background: #eee;
    color: #222;
    border: none;
    border-radius: 1px
}